<div class="App-landing">
    
    <div class="App-landingLeft">

        <img class="App-logo" src="/svg/logo.svg" alt="logo svg file">

        <div class="App-landingContainer">
            <h1 class="App-title">Busca el mejor hogar<br>para ti y tu grupo<br>más cercano</h1>
            <h3 class="App-title2">¡Puede ser tu familia o tus roomates!</h3>
            <a class="App-landingButton" href="/roomie">Empieza ya</a>
        </div>

    </div>

    <div class="App-landingRight">
        <img class="App-landingImg" src="/img/landing.png" alt="landing img file">
    </div>
    
</div>